/config
/541298_1054465_bundle_archive
/all-the-news-2-1
/nyse
/price-volume-data-for-all-us-stocks-etfs
/quandlData
economicIndicators.csv
masterDF.csv
sentimentIndicators.csv
stockDataIndicators.csv
filtered.csv
*.csv
*.json